<% content_for :title do %>About<% end %>
<h3> About Charis Olasunkanmi</h3>
<p> She was born in the city of Lagos to the Family of Engineer and Dr  Olasunkanmi and Yemisi Oluwadeyi. She is known to be an addent lover of God. Her outstanding intellectuall acumen is well known globally,evidenced by her invaluable contributions to the field of Economic Science. </p>
<p>The model she proposed is helping to bring solutions to many economic connumdrum and quagmire in many African and Asian countries. She is an alumnus of the prestigious Harvard business school and London business School. She sits in the board of many naional and Multinational corporations. She loves to witness her faith in Christ Jesus wherever she is and she also Pastors with her Husband. She is the host of a popular Christain TV family program - "The Jesus's Family in the 21st century".  She is blessed with Two wonderful boys and a cherubic daughter  </p>
